@{
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div>
        <p>
            This web app uses the ASP.NET MVC framework. The backend is programmed in C#, the views use HTML with Razor syntax, and the styling is done with Bootstrap. You can check the code repository on GitHub using this
            <a href="https://github.com/joaosantos7614/WheelWebApp" target="_blank">link</a>.
        </p>
    </div>
</div>
