@model WheelDiameter.Models.WheelModel
@*copied from old index*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Car Tire Diameter Calculator</h2>
    <br />
    <img src="~/img/Tire.jpg" class="img-fluid2" alt="image not found :(">
    <br />
    <h2>Code on your tire:</h2>
    <!--form starts here-->
    <form method="post">

        <input type="text" asp-for="Width" size="3" placeholder="255" required pattern="[0-9]{2,3}">
        <label for="profile">/</label>
        <input type="text" asp-for="Ratio" size="2" placeholder="55" required pattern="[0-9]{2,2}">
        <label for="lname">R</label>
        <input type="text" asp-for="Rim" size="2" placeholder="18" required pattern="[0-9]{2,2}">
        <h5>(for example: 255/55R18)</h5>

        <button class="btn btn-success" style="width:150px;height:40px;font-size:20px;" type="submit">Go! </button>
    </form>
    <!--form ends here-->
    <br />
    @if (Model != null)
    {
        <h2> The outer diameter of your tire is @Model.Diam() mm </h2>
    }

</div>
